* {
margin: 0;
gap:0;
padding: 0;
}

.header{
    background-color: #fdd900;
    width: 100vw;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-barra{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 150px;
    height: 140px;
    margin-left: 25px;
}

.menu{
    width: 23px;
    height: 23px;
    margin-left: 52px;
}

.p1{
    margin-left: 14px;
}

.input1{
   margin-left: 45px;
   height: 40px;
   width: 550px;
   border-radius: 3px;
   border: none;
   
}
#placeholder-text {   
    padding-left: 150px;
    font-size: 17px;
    color: #808080;

}

.lupa{
    width: 20px;
    height: 20px;
    margin-left: -35px;

}
.button1{
  border: none;
  background-color: transparent;
cursor: pointer;
}

.button1:hover{
    background-color: #f8deacd5;
    
}
.heart-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:60px;
}

.coração{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.p2{
    font-size: 12px;
}
.user-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:30px;
}

.usuario{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.p3{
    font-size: 12px;
}

.cesta-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:30px;
}

.cesta{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.p4{
    font-size: 12px;
}

.barra-preta{
    background-color: black;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
}