body{
    width: 100%;
    background-color: #fbfbfb;
   
}
.banner1{
    width: 100vw;
    height: 300px;
    object-fit: cover; 
}

.p6{
    margin-left:50px ;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.p-a{
    display: flex;
    align-items:end ;
}

a{
    margin-top: 50px;
    margin-left: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.74);
}
.card-1{
    background-color: #ffffff ;
    width: 220px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.100);
 
}

/* #ffffff */

.imperfeitos{
    width: 180px;
    height: 230px;
    padding: 20px;
    
}

.p7{
    font-size: 18px;
    margin-left: -50px;
    cursor: pointer;
}